PORT=4000
MONGO_URI=mongodb+srv://baniomarbelal7_db_user:UWS7twlwXQLzgZO0@balaghjo.dndjwpn.mongodb.net/?appName=BalaghJo
JWT_SECRET=AbdMan2892004@@
JWT_EXPIRES_IN=30m
UPLOAD_DIR=uploads
MAX_UPLOAD_MB=10
